<h1 class="header-app">Login</h1>
<div class="div-login">
	<form [formGroup]="formLogin" (ngSubmit)="onLogin()">
		<table class="table-login">
			<tr>
				<td class="form-control-login">
					<mat-form-field>
						<input #email maxlength="50" matInput placeholder="Ingresa tu Email"  formControlName = "email">
						<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
					</mat-form-field>
				</td>
			</tr>
			<tr>
				<td class="form-control-login">
					<mat-form-field>
						<input #password matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName = "password">
						<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</mat-form-field>
				</td>
			</tr>
			<tr>
				<td class="form-control-login">
					<button mat-raised-button color="primary" class="btn-send" (click)="onLogin()">
						LOGIN
					</button>
				</td>
			</tr>
		</table>
	</form>
</div>
