.header-app {
	text-align: center;
}

.div-register{
	display: inline-block;
	width: 100%;
}

.table-register{
	width: 100%;
}

.form-control-register{
	text-align: center;
}

.btn-google{
	color: #ffffff;
	background: #dd4b39;
}